-
  var speakers = [
    {
      "id": 1,
      "order": 1,
      "image": "1564216485-21",
      "name": "Sherry Lassiter",
      "company": "Fab Foundation",
      "position": "President & CEO"
    },
    {
      "id": 2,
      "order": 2,
      "image": "1564216485-50",
      "name": "S.B Sareen",
      "company": "",
      "position": "Sr. Faculty member and Head-SMEs & Business Development Services"
    },
    {
      "id": 3,
      "order": 3,
      "image": "1564216485-51",
      "name": "Jasmeet Singh",
      "company": "Roborium/JMOON Technologies",
      "position": "Founder"
    },
    {
      "id": 4,
      "order": 4,
      "image": "1564216485-33",
      "name": "Dr. Suyogkumar Bhavare",
      "company": "Jagriti Sewa Sansthan",
      "position": "COO"
    },
    {
      "id": 5,
      "order": 5,
      "image": "1564216485-44",
      "name": "Dr. Nirmala Padmanabhan",
      "company": "St. Teresa's College, Ernakulam",
      "position": ""
    },
    {
      "id": 6,
      "order": 6,
      "image": "1564216485-31",
      "name": "Sharatchandra Aithal",
      "company": "",
      "position": "Field Engineer at Unity Technologies"
    },
    {
      "id": 7,
      "order": 7,
      "image": "1564216485-47",
      "name": "Pooja Rai",
      "company": "Anthill Creations",
      "position": "Co-founder & CEO"
    },
    {
      "id": 8,
      "order": 8,
      "image": "1564216485-54",
      "name": "Viswesh Srinivasan",
      "company": "SVP Laser Technologies",
      "position": "Co-founder & MD"
    },
  ]