-
  var tracks1 = [
    [
      {
        title: "Extented Reality",
        desc: "A track Focusing on the latest advancements in the Immersive Technologies with speakers from Unity Technologies",
        image: "icon_xr.png"
      },
      {
        title: "Blockchain Track",
        desc: "A Track focusing on the wave of disruptive innovations with Block- chain technology",
        image: "icon_block.png"
      },
      {
        title: "Community Meetups",
        desc: "A Track to support and strengthen the various tech and non tech communities and for the development",
        image: "icon_community.png"
      },
    ],
    [
      {
        title: "Startup Expo",
        desc: "StartUp Expo is the one stop destination for startups to showcase their innovative products",
        image: "icon_expo.png"
      },
      {
        title: "Innovation Hubs",
        desc: "IEDC Summit brings together the nation’s eminent speakers on innovation and leading entrepreneurs",
        image: "icon_hub.png"
      },
      {
        title: "Panel Discussions",
        desc: "Be the part of the most vibrant talks from the next generation entrepreneurs and leaders of tomorrow",
        image: "icon_panel.png"
      },
    ],
  ]