nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='#slider-section') Home
    li
      a(data-scroll, href='#about-section') About
    li
      a(data-scroll, href='#tracks') Tracks
    li
      a(data-scroll, href='#speaker-section') Speakers
    li
      a(data-scroll, href='#location') Location
    