@import "./base";
@import "./mixins";

@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous|Courgette|Blinker|Permanent+Marker|Kaushan+Script&display=swap');

$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

h1{
  font-family: 'Righteous', cursive;
}

p{
  font-family: 'Raleway', sans-serif;
}

body{
  // overflow: hidden;
}

nav.navbar{
  z-index: 9999;
}

.section-content{
  // &:nth-of-type(even){
    padding-top: 100px;
    padding-bottom: 100px;
  // }
}

.site-navigation {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  width: 100%;
  height: 22px;
  overflow: hidden;
  list-style: none;
  transition: all .35s;

  @include my_bp(md){
    position: fixed;
    top: auto;
    right: auto;
    height: auto;
    background: transparent;
  }

  &.show{
    height: auto;

    ul{
      left: 0;
    }
  }

  &.sticky_header{
    background: #2a0845;
  }

  ul{
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 320px;
    max-width: 90%;
    height: 100vh;
    overflow-x: scroll;
    padding: 30px;
    margin: 0;
    background: #2a0845;
    transition: all 0.35s;

    @include my_bp(md){
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      height: auto;
      padding: 0;
      overflow: auto;
      background: transparent;

    }

    li{
      display: block;
      padding: 10px 16px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.02rem;
      text-transform: uppercase;

      &.current-menu-item{

        a{
          border-color: #2f2f2f;
        }
      }

      a{
        display: block;
        color: #fff;
        transition: all 0.35s;
        text-decoration: none;

        &:hover{
          border-color: #2f2f2f;
        }
      }
    }
  }

  .hamburger-menu {
    position: relative;
    width: 100%;
    max-width: 24px;
    height: 22px;
    margin-left: auto;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: white;
      border-radius: 10px;
      opacity: 1;
      left: 0;
      transition: .25s ease-in-out;

      &:nth-child(1){
        top: 2px;
      }

      &:nth-child(2), &:nth-child(3){
        top: 10px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }
  }
}

#ksum-footer{
  background: #0b031b;

  .right-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      font-family: 'Blinker', sans-serif;
      text-align: center;
      color: white;
      font-size: 18px;
      padding-top: 10px;
      font-weight: normal;
    }

    img{
      max-width: 250px;
    }

  }

  .left-col{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
      font-family: 'Blinker', sans-serif;
      text-align: center;
      color: white;
      font-size: 18px;
      padding-top: 10px;
      font-weight: normal;
    }

    .phone{
      font-size: 25px;
      font-weight: bold;

      div{
        text-align: center;
        color: white;

        i{
          color: #027abb;
          margin-right: 10px;
        }
      }
    }

    .social{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      a{
        padding: 0 10px;
      }
    }
  }
}

#ksum-copy{
  background: #080113;
  padding: 14px;

  p{
    margin: 0;
    color: white;
    font-family: 'Blinker', sans-serif;
    text-align: center;
  }
}