@import "./base";
@import "./mixins";

@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous|Courgette|Blinker|Permanent+Marker|Kaushan+Script&display=swap');

$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

h1{
  font-family: 'Righteous', cursive;
}

p{
  font-family: 'Raleway', sans-serif;
}

body{
  // overflow: hidden;
}

nav.navbar{
  z-index: 9999;
}

.site-navigation {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  width: 100%;
  height: 22px;
  overflow: hidden;
  list-style: none;
  transition: all .35s;

  @include my_bp(md){
    position: fixed;
    top: auto;
    right: auto;
    height: auto;
    background: transparent;
  }

  &.show{
    height: auto;

    ul{
      left: 0;
    }
  }

  &.sticky_header{
    background: #2a0845;
  }

  ul{
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 320px;
    max-width: 90%;
    height: 100vh;
    overflow-x: scroll;
    padding: 30px;
    margin: 0;
    background: #2a0845;
    transition: all 0.35s;

    @include my_bp(md){
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      height: auto;
      padding: 0;
      overflow: auto;
      background: transparent;

    }

    li{
      display: block;
      padding: 10px 16px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.02rem;
      text-transform: uppercase;

      &.current-menu-item{

        a{
          border-color: #2f2f2f;
        }
      }

      a{
        display: block;
        color: #fff;
        transition: all 0.35s;
        text-decoration: none;

        &:hover{
          border-color: #2f2f2f;
        }
      }
    }
  }

  .hamburger-menu {
    position: relative;
    width: 100%;
    max-width: 24px;
    height: 22px;
    margin-left: auto;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: white;
      border-radius: 10px;
      opacity: 1;
      left: 0;
      transition: .25s ease-in-out;

      &:nth-child(1){
        top: 2px;
      }

      &:nth-child(2), &:nth-child(3){
        top: 10px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }
  }
}

#slider-section{
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before{
    background-color: #0e081f;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    opacity: .9;
  }

  #info-container{
    position: absolute;
    bottom: 10px;
    color: white;
    display: none;

    @include my_bp(sm){
      bottom: 30px;
      display: block;
    }

    .venue{
      display: flex;
      flex-direction: column;

      h2{
        font-family: 'Kaushan Script', cursive;
        // font-size: 1.7rem;
      }

      h3{
        font-family: 'Permanent Marker', cursive;
        // font-weight: normal;
      }
    }

    .date{
      display: flex;
      flex-direction: column;

      h2{
        font-family: 'Kaushan Script', cursive;
        // font-size: 1.7rem;
      }

      h3{
        font-family: 'Permanent Marker', cursive;
        // font-weight: normal;
      }
    }
  }

  #logo-container{
    position: absolute;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include my_bp(sm){
      flex-direction: row;
    }

    img{
      width: 250px;
      transition: all 5s;
    }

    #type-area{
      color: white;
      font-size: 50px;
      font-family: 'Righteous', cursive;

      @include my_bp(sm){
        font-size: 70px;
      }
    }
  }

  img.slide{
    height: 100vh;
    width: auto;


    @include my_bp(sm){
      height: auto;
      width: 100vw;
    }
  }
}

.section-content{
  // &:nth-of-type(even){
    padding-top: 100px;
    padding-bottom: 100px;
  // }
}

#about-section{

  .counter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .counter-item{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    margin: 5px;
    width: 160px;

    &:nth-of-type(1){
      // background-color: #0a0229;
      background: radial-gradient(circle at 0px 0px, #ED213A 0%, #93291E 100%);
      color: white;
    }

    &:nth-of-type(2){
      // background-color: brown;
      background: radial-gradient(circle at 0px 0px, #8E2DE2 0%, #4A00E0 100%);
      color: white;
    }

    &:nth-of-type(3){
      // background-color: rgb(25, 51, 1);
      background: radial-gradient(circle at 0px 0px, #727a17 0%, #414d0b 100%);

      color: white;
    }

    &:nth-of-type(4){
      // background-color: rgb(73, 0, 57);
      background: radial-gradient(circle at 0px 0px, #C06C84 0%, #355C7D 100%);

      color: white;
    }

    .count-number{
      font-family: 'Righteous', cursive;
      font-size: 50px;
      text-align: center;
    }

    .count-text{
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .video-block{
    margin-top: 50px;
    display: inline-block;
    background: white;
    padding: 10px 10px 3px 10px;
    box-shadow: 1px 1px 3px #666;

    iframe{
      max-width: 100%;
    }
  }

}

#join-us{
  // background: #2f323b;
  --x: 0px;
  --y: 0px;
  background: radial-gradient(circle at var(--x) var(--y), #6441A5 0%, #2a0845 100%);

  color: white;
  h1{
    padding: 20px 0px;

  }
  h3{
    font-family: 'Courgette', cursive;
    color: white;
  }
  #sah_logo{
    width: 80%;

    @include my_bp(sm){
      width: 50%;
    }
  }
  .qr-code-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
      max-width:150px;
      margin: 30px;

      @include my_bp(sm){
        margin:0;
      }
    }

    button{
      pointer-events: auto;
      
      @include my_bp(sm){
        margin-top:20px;
      }
    }
  }
}

#tracks{

  .card{
    background: #fff;
    border: 0;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 400px;
    cursor: pointer;

    h3{
      z-index: 10;
      padding-top: 60px;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: #25274d;
      font-size: 1.6rem;
    }

    p{
      opacity: 0;
      transform: scale(0);
      font-weight: bold;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      padding-top: 35px;
      text-align: justify;
      color: #25274d;
      margin: 0;
    }

    &:hover{
      h3{
        color: white;
        padding-top: 20px;
      }

      p{
        opacity: 1;
        transform: scale(1);
        // display: block;
        
      }

      .icon-holder{
        margin-top: 0px;

        .overlay{
          transform: scale(3.6) translateZ(0) translateY(-20px);
        }
      
        .circle{
          border: 2px solid white;

          img{
            background: white;
          }
        }
      }

    }

    .icon-holder{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      transition: all 0.3s ease;

      .overlay{
        // background: #6441A5;
        background: radial-gradient(circle at 50% 50%, #6441A5 0%, #2a0845 100%);

        height: 130px;
        width: 130px;
        position: absolute;
        border-radius: 50%;
        transition: transform 0.3s ease-out;
      }

      .circle{
        border: 2px solid #25274d;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: all 0.3s ease-out;
        
  
        img{
          // background: #6441A5;
          background: radial-gradient(circle at 50% 50%, rgb(170, 128, 248) 0%, #6441A5 100%);

          border-radius: 50%;
          width: 130px;
          height: 130px;
          transition: all 0.3s ease-out;

        }
      }
    }

    
  }
}

#speaker-section{

  .speaker-list{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

    .speaker{
      width: 50%;
      margin-top: 50px;

      @include my_bp(sm){
        width: 25%;
      }


      img{
        width: 160px;
        border-radius: 50%;  
        padding: 10px;
        box-shadow: 1px 1px 5px #666;      
        cursor: pointer;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &:hover{
          padding: 2px;
          transform: translateY(-5px);
        }
      }

      .descp{
        padding-top: 10px;

        h4{
          font-size: 18px;
          font-family: 'Blinker', sans-serif;
          font-weight: bold;
        }

        h5{
          font-size: 14px;
          font-family: 'Blinker', sans-serif;
        }
      }
    }
  }
}

#location{
  line-height: 0;
}

#ksum-footer{
  background: #0b031b;

  .right-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      font-family: 'Blinker', sans-serif;
      text-align: center;
      color: white;
      font-size: 18px;
      padding-top: 10px;
      font-weight: normal;
    }

    img{
      max-width: 250px;
    }

  }

  .left-col{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
      font-family: 'Blinker', sans-serif;
      text-align: center;
      color: white;
      font-size: 18px;
      padding-top: 10px;
      font-weight: normal;
    }

    .phone{
      font-size: 25px;
      font-weight: bold;

      div{
        text-align: center;
        color: white;

        i{
          color: #027abb;
          margin-right: 10px;
        }
      }
    }

    .social{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      a{
        padding: 0 10px;
      }
    }
  }
}

#ksum-copy{
  background: #080113;
  padding: 14px;

  p{
    margin: 0;
    color: white;
    font-family: 'Blinker', sans-serif;
    text-align: center;
  }
}