doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/schedule.scss")
  body

    include parts/menu.pug

    section.section-content
      .container
        .row
          .col-sm-8
            .schedule
              h3 Saturday, November 3
              .schedule-item
                .time 9:30 AM
                .item
                  a(href="#") WarmUp Music
                .details
                  p Saturday November 3, 2018 9:30am - 10:00am 
                  |Venue: 
                  a(href="#") Quandrangle
              .schedule-item
                .time 9:30 AM
                .item
                  a(href="#") WarmUp Music
                .speakers
                  .speaker-item
                    img(src="./img/speakers-18/1564216485-21-image.jpg")
                    .descp
                      h3 Sherry Lassiter
                      h4 President & CEO
                      h4 Fab Foundation
                  .speaker-item
                    img(src="./img/speakers-18/1564216485-21-image.jpg")
                    .descp
                      h3 Sherry Lassiter
                      h4 President & CEO
                      h4 Fab Foundation
                  .speaker-item
                    img(src="./img/speakers-18/1564216485-21-image.jpg")
                    .descp
                      h3 Sherry Lassiter
                      h4 President & CEO
                      h4 Fab Foundation
                  .speaker-item
                    img(src="./img/speakers-18/1564216485-21-image.jpg")
                    .descp
                      h3 Sherry Lassiter
                      h4 President & CEO
                      h4 Fab Foundation
                  .speaker-item
                    img(src="./img/speakers-18/1564216485-21-image.jpg")
                    .descp
                      h3 Sherry Lassiter
                      h4 President & CEO
                      h4 Fab Foundation
                  
                .details
                  p Saturday November 3, 2018 9:30am - 10:00am 
                  |Venue: 
                  a(href="#") Quandrangle

              .schedule-item
                .time 9:30 AM
                .item
                  a(href="#") WarmUp Music
                .speakers
                  .speaker-item
                    img(src="./img/speakers-18/1564216485-21-image.jpg")
                    .descp
                      h3 Sherry Lassiter
                      h4 President & CEO
                      h4 Fab Foundation
                  .speaker-item
                    img(src="./img/speakers-18/1564216485-21-image.jpg")
                    .descp
                      h3 Sherry Lassiter
                      h4 President & CEO
                      h4 Fab Foundation
                .details
                  p Saturday November 3, 2018 9:30am - 10:00am 
                  |Venue: 
                  a(href="#") Quandrangle
                  .tag
                    a(href="#") Entrepreneurship

    include parts/footer.pug

script(src="./js/index.js")